body {
  padding-top: 5px;
  background: gray;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

}

.flex-container {

  display: flex;
  height: 100%;
  width: 1000px;
  justify-content: space-between;
  background: black;
  align-items: center;
  border-radius: 50px;
}


.hud {
  width: 200px;
  height: 100px;
  background: blue;
  text-align: center;
  align-self: auto;
  font-size: 15px;
}

.enemy {
  position: absolute;
  width: 25px;
  height: 25px;
  background: white;
  top: 300px;
  left: 100px;
  display: inline-block;
  border-radius: 100%;
  background: radial-gradient(circle at 50px 50px, white, white);
  filter: blur(10px);
}

#board {
  width: 700px;
  height: 600px;
  background: black;
  background: url('space.jpg');
  border: 1px solid white;
}

#lose {
  display: hidden;
}

.player {
  background-image: url('spear.png');
  left: 500px;
  top: 500px;
  position: absolute;
  width: 50px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 800px) {
  .hud {
    align-self: flex-end;
    font-size: 10px;
    width: 100px;
  }
  #board {
    width: 500px;
  }
  .flex-container {

  }
}
